<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291630506544-c5f6b4ofra64ar4k4njr525n25m211dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291630506544-c5f6b4ofra64ar4k4njr525n25m211dc</string>
	<key>API_KEY</key>
	<string>AIzaSyBGU6eg7cFmL476XKxpmY4v9APGUDJ7q6U</string>
	<key>GCM_SENDER_ID</key>
	<string>291630506544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFiers</string>
	<key>PROJECT_ID</key>
	<string>sportsapp-753c6</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsapp-753c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291630506544:ios:388b44e043ca1745d303f5</string>
</dict>
</plist>